<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipeDetail.name }}</h3>
        <img [src]="recipeDetail.imagePath" alt="{{ recipeDetail.name }}" style="max-height: 100px" />
        <p>{{ recipeDetail.description }}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
            </ul>
          </div>
    </div>
</div>
