<div class="row">
    <div class="col-md-5">
        <app-recipe-list 
            (recipeWasSelected) = "selectedRecipe = $event"
            ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- <app-recipe-detail 
            *ngIf="selectedRecipe; else notSelecteMsg"
            [recipeDetail] = "selectedRecipe"
            ></app-recipe-detail>
        <ng-template #notSelecteMsg>
            <p>
                Please select the Recipe Item from the list.
            </p>
        </ng-template>     -->
        <router-outlet></router-outlet>
    </div>
</div>
