<form>
    <div class="row">
        <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" #nameValue>
        </div>
        <div class="col-sm-5 form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" #amountValue>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" (click) = "onIngredientSave()">Add</button>
        </div>
    </div>
</form>

